Flask
flask-cors
torch==2.1.0+cpu  -f https://download.pytorch.org/whl/torch_stable.html
soundfile
transformers
cohere
python-dotenv
streamlit
requests
sounddevice
numpy
scipy
speechrecognition
gtts
gunicorn
